{% extends 'body.html' %}
{% load crispy_forms_tags %}
{% block content %}

<form method="post">

    <div class="card card-primary container-form ">
        <div class="card-header">
        <h3 class="card-title">Actualización de marcas</h3>
        </div>
           
        <form>
        <div class="card-body">
        
            {% csrf_token %}
            {{ form|crispy }}
        
        </div>
        <div class="card-footer">
        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
        </div>
    </form>
    </div>

{% endblock %}