{% extends 'list.html' %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 10%;">Nom Usuario</th>
        <th scope="col" style="width: 25%;">Nom Completo</th>
        <th scope="col" style="width: 50%;">Email</th>
        <th scope="col" style="width: 20%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}
{% for u in usuarios %}
    <tr>
        <td> {{ u.username }} </td>
        <td> {{ u.full_name }} </td>
        <td> {{ u.email }} </td>
        <td>
            <a href="{% url 'edit_user' u.username %}" class="btn btn-warning btn-xs"><i class="fas fa-edit"></i></a>
            <a href="{% url 'delete_user' u.username %}"type="button" class="btn btn-danger btn-xs"><i class="fas fa-trash"></i></a>
        </td>
    </tr>
    {% endfor %}
{% endblock %}
