{% extends 'body.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="card card-primary container-form ">
    <div class="card-header">
        <h3 class="card-title">Registro de Linea</h3>
    </div>
   
    <form method="post">
        <div class="card-body">
            {% csrf_token %}
            {{ form|crispy }}
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
        </div>
    </form>
</div>

{% endblock %}