{% extends 'body.html' %}
{% load crispy_forms_tags %}
{% block content %}
<form method="post">
    <div class="card card-primary container-form ">
        <div class="card-header">
        <h3 class="card-title">Registro de Usuario</h3>
        </div>
        <form>
        <div class="card-body">
            {% csrf_token %}
            {{ form|crispy }}
        </div>
        <div class="card-footer">
        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
        </div>
    </form>
    <style>
        .container-form{
            margin-top: 30px; 
            margin-left:20px; 
            margin-right:20px; 
            border:1px solid #d2d2d2;
            border-radius:0.3em;
        }
    </style>
    </div>
    <!-- Aquí va tu script de JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(document).ready(function() {
        $('#id_email').on('input', function() {
            var email = $(this).val();
            var username = email.split('@')[0];
            $('#id_username').val(username);
        });
    });
    $(document).ready(function() {
        $('#id_email').on('input', function() {
            var email = $(this).val().replace(/\s/g, '');
            $(this).val(email);
        });
    });
    </script>
{% endblock %}